In [50]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Aggregation and Group").getOrCreate()

In [51]:
df_pyspark=spark.read.csv("test4.csv",header=True,inferSchema=True)

df_pyspark.show()

+----+------------+------+
|name| departments|salary|
+----+------------+------+
|   a|Data Science|  2000|
|   b|         IOT| 12000|
|   c|    Big Data|  1200|
|   d|Data Science|  2300|
|   e|         IOT|  1900|
|   f|    Big Data|  9100|
|   b|         IOT| 12000|
|   h|    Big Data|  1240|
+----+------------+------+

In [52]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [53]:
# Group by

df_pyspark.groupBy("name").sum().show()
df_pyspark.groupBy("name").max().show()

+----+-----------+
|name|sum(salary)|
+----+-----------+
|   f|       9100|
|   e|       1900|
|   h|       1240|
|   d|       2300|
|   c|       1200|
|   b|      24000|
|   a|       2000|
+----+-----------+

+----+-----------+
|name|max(salary)|
+----+-----------+
|   f|       9100|
|   e|       1900|
|   h|       1240|
|   d|       2300|
|   c|       1200|
|   b|      12000|
|   a|       2000|
+----+-----------+

In [54]:
# Group by to find maximum salary from each department

df_pyspark.groupBy("departments").sum().show()

+------------+-----------+
| departments|sum(salary)|
+------------+-----------+
|         IOT|      25900|
|    Big Data|      11540|
|Data Science|       4300|
+------------+-----------+

In [55]:
df_pyspark.groupBy("departments").mean().show()

+------------+------------------+
| departments|       avg(salary)|
+------------+------------------+
|         IOT| 8633.333333333334|
|    Big Data|3846.6666666666665|
|Data Science|            2150.0|
+------------+------------------+

In [56]:
df_pyspark.groupBy("departments").count().show()

+------------+-----+
| departments|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    3|
|Data Science|    2|
+------------+-----+

In [57]:
df_pyspark.agg({"salary": "sum"}).show()

+-----------+
|sum(salary)|
+-----------+
|      41740|
+-----------+