In [24]:
!pip install pyspark

Requirement already satisfied: pyspark in e:\..projectssss\python\pyspark\pysparkk\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in e:\..projectssss\python\pyspark\pysparkk\lib\site-packages (from pyspark) (0.10.9.3)

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'E:\..Projectssss\Python\pySpark\pysparkk\Scripts\python.exe -m pip install --upgrade pip' command.

In [23]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [13]:
spark

In [14]:
# read the dataset
spark.read.option("header", "true").csv("test1.csv")
df_pyspark = spark.read.option("header", "true").csv("test1.csv")

In [15]:
# Check the schema of the dataframe
df_pyspark.printSchema()  

type(df_pyspark)

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

pyspark.sql.dataframe.DataFrame

In [16]:
# df_pyspark.columns

df_pyspark.head(2)

[Row(Name='Me', age='32', experience='2'),
 Row(Name='You', age='34', experience='1')]

In [17]:
# df_pyspark.show()

df_pyspark.select("name")
df_pyspark.select(["name", "experience"]).show()

+----+----------+
|name|experience|
+----+----------+
|  Me|         2|
| You|         1|
|  He|         3|
| She|         5|
+----+----------+

In [18]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'string'), ('experience', 'string')]

In [19]:
df_pyspark.describe().show()

+-------+----+------------------+-----------------+
|summary|Name|               age|       experience|
+-------+----+------------------+-----------------+
|  count|   4|                 4|                4|
|   mean|null|              35.5|             2.75|
| stddev|null|13.403979508588733|1.707825127659933|
|    min|  He|                22|                1|
|    max| You|                54|                5|
+-------+----+------------------+-----------------+

In [20]:
# Adding Columns

df_pyspark.withColumn("experience_in_years",
                      df_pyspark['experience'] + 2).show()

+----+---+----------+-------------------+
|Name|age|experience|experience_in_years|
+----+---+----------+-------------------+
|  Me| 32|         2|                4.0|
| You| 34|         1|                3.0|
|  He| 22|         3|                5.0|
| She| 54|         5|                7.0|
+----+---+----------+-------------------+

In [21]:
# Dropping the Columns

df_pyspark.drop("experience_in_years").show()

+----+---+----------+
|Name|age|experience|
+----+---+----------+
|  Me| 32|         2|
| You| 34|         1|
|  He| 22|         3|
| She| 54|         5|
+----+---+----------+

In [22]:
# Rename Columns

df_pyspark.withColumnRenamed("name", "employee_name").show()

+-------------+---+----------+
|employee_name|age|experience|
+-------------+---+----------+
|           Me| 32|         2|
|          You| 34|         1|
|           He| 22|         3|
|          She| 54|         5|
+-------------+---+----------+