In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Handlings").getOrCreate()

In [5]:
df_pyspark=spark.read.csv("test2.csv", header=True, inferSchema=True)

df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|   a|  12|         2| 10000|
|   b|  13|         4| 30000|
|   c|  14|         2|  4000|
|   d|  15|         6| 50000|
|   e|  21|         3| 14000|
|   f|  34|         8| 24000|
|null|  32|         1|  2400|
|null|null|         5| 13000|
+----+----+----------+------+

In [8]:
# Drop column

df_pyspark.drop("salary").show()

+----+----+----------+
|Name| Age|Experience|
+----+----+----------+
|   a|  12|         2|
|   b|  13|         4|
|   c|  14|         2|
|   d|  15|         6|
|   e|  21|         3|
|   f|  34|         8|
|null|  32|         1|
|null|null|         5|
+----+----+----------+

In [9]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|   a|  12|         2| 10000|
|   b|  13|         4| 30000|
|   c|  14|         2|  4000|
|   d|  15|         6| 50000|
|   e|  21|         3| 14000|
|   f|  34|         8| 24000|
|null|  32|         1|  2400|
|null|null|         5| 13000|
+----+----+----------+------+

In [10]:
# Rows

df_pyspark.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   a| 12|         2| 10000|
|   b| 13|         4| 30000|
|   c| 14|         2|  4000|
|   d| 15|         6| 50000|
|   e| 21|         3| 14000|
|   f| 34|         8| 24000|
+----+---+----------+------+

In [11]:
df_pyspark.na.drop(how="any").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   a| 12|         2| 10000|
|   b| 13|         4| 30000|
|   c| 14|         2|  4000|
|   d| 15|         6| 50000|
|   e| 21|         3| 14000|
|   f| 34|         8| 24000|
+----+---+----------+------+

In [17]:
df_pyspark.na.drop(how="all",thresh=2).show()
df_pyspark.na.drop(how="all",thresh=3).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|   a|  12|         2| 10000|
|   b|  13|         4| 30000|
|   c|  14|         2|  4000|
|   d|  15|         6| 50000|
|   e|  21|         3| 14000|
|   f|  34|         8| 24000|
|null|  32|         1|  2400|
|null|null|         5| 13000|
+----+----+----------+------+

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   a| 12|         2| 10000|
|   b| 13|         4| 30000|
|   c| 14|         2|  4000|
|   d| 15|         6| 50000|
|   e| 21|         3| 14000|
|   f| 34|         8| 24000|
|null| 32|         1|  2400|
+----+---+----------+------+